.stApp{
    background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
   color: lawngreen;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: medium;
   font-weight: 200;

}

.stText{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px #000;
}

img {
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.stAlert {
    background-color: rgba(255,255,255,0.9);
    color: black;
    font-weight: bold;
}

.footer{
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    position: fixed;
    bottom: 10px;
    text-align: left;
}